
.chart rect {
  fill: steelblue;
  stroke: white;
}
.chart {
  font-size: 12px;
}

.gContainer {
  overflow-x: auto;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

path {
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
 
.x.axis line {
  stroke: lightgrey;
}
 
.x.axis .minor {
  stroke-opacity: .5;
}
 
.x.axis path {
  display: none;
}
 
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

circle {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}
