extends: 'eslint:recommended'

env:
  node: true
  mocha: true

rules:
  indent:
    - 2
    - 2
  no-trailing-spaces: 2
  comma-style:
    - 2
    - first
    - exceptions:
        ObjectExpression: true
        ArrayExpression: true
  no-spaced-func: 2
  space-after-keywords: 2
  space-before-blocks: 2
  space-before-function-paren: 2
  space-return-throw-case: 2
  no-console: 0
