extends: 'eslint:recommended'

env:
  node: true
  mocha: true

rules:
  indent:
    - 1
    - 2
    - SwitchCase: 1
      VariableDeclarator: 2
  no-trailing-spaces: 2
  comma-style: 1
  no-spaced-func: 2
  no-multi-spaces: 1
  space-after-keywords: 2
  space-before-blocks: 2
  space-before-function-paren:
    - 2
    - never
  space-before-keywords: 2
  space-infix-ops: 1
  space-return-throw-case: 2
  space-unary-ops: 1
  no-console: 0
  consistent-this:
    - 1
    - _this
  semi: 2
