[submodule "lib/support/node-mongodb-native"]
	path = lib/support/node-mongodb-native
	url = git://github.com/christkv/node-mongodb-native.git
[submodule "tests/unit/support/jspec"]
	path = tests/unit/support/jspec
	url = git://github.com/visionmedia/jspec.git
[submodule "tests/integration/support/expresso"]
	path = tests/integration/support/expresso
	url = git://github.com/visionmedia/expresso.git