[submodule "support/expresso"]
	path = support/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "support/node-mongodb-native"]
	path = support/node-mongodb-native
	url = git://github.com/christkv/node-mongodb-native.git
[submodule "support/node-markdown"]
	path = support/node-markdown
	url = git://github.com/andris9/node-markdown.git
