lib-cov
*.swp
*.sw*
node_modules/
*.orig
benchmarks/benchmarks
benchmarks/benchmarks2
benchmarks/benchmarks3
benchmarks/v8.log
benchmarks/typescript/**/*.js
.DS_Store
docs/*.json
docs/source/_docs
tags
test/triage/*.js
/.idea
/inspections
bin/mongoose.min.js
coverage
npm-debug.log
data/
.nyc_output/
.env

tools/31*

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln

# Visual Studio Code
.vscode

*.key

# Webpack output
dist
test/files/main.js

package-lock.json

.config.js

# Compiled docs
docs/*.html
docs/tutorials/*.html
docs/typescript/*.html
docs/api/*.html
# the below excludes things like "0test.x" too, but gitignore does not have something like js regex "[0-9]+", so this is the best for future versions
docs/[0-9]*.x/
index.html

# Local Netlify folder
.netlify

# yarn package-lock
yarn.lock

# npm pack output
mongoose.tgz
mongoose-*.tgz

examples/ecommerce-netlify-functions/.netlify/state.json

notes.md
list.out
