lib-cov
**.swp
*.sw*
*.orig
.DS_Store
node_modules/
benchmarks/
docs/
test/
Makefile
CNAME
index.html
index.pug
bin/
tools/31*
*.key
data/

*.txt
*.png

examples/
.github
.vscode
.eslintignore
CONTRIBUTING.md
History.md
CHANGELOG.md
format_deps.js
release-items.md
static.js
website.js

.config*

migrating_to_6.md
migrating_to_5.md
renovate.json
.travis.yml
webpack.config.js
webpack.base.config.js

.nyc-output

*.tgz

notes.md
list.out

eslintrc.json