lib-cov
**.swp
*.sw*
*.orig
.DS_Store
node_modules/
benchmarks/
docs/
test/
Makefile
CNAME
index.html
index.jade
bin/
karma.*.js
format_deps.js
tools/31*
*.key
data/
dist/

*.txt
*.png

examples/
.github
.vscode
.eslintignore
CONTRIBUTING.md
format_deps.js
release-items.md
static.js
website.js

.config*

search.js