language: node_js
sudo: false
node_js:
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
  - "0.12"
  - "0.10"
  - "iojs"
matrix:
  allow_failures:
    - node_js: "9"
before_script:
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-2.6.11.tgz
  - tar -zxvf mongodb-linux-x86_64-2.6.11.tgz
  - mkdir -p ./data/db/27017
  - mkdir -p ./data/db/27000
  - ./mongodb-linux-x86_64-2.6.11/bin/mongod --fork --nopreallocj --dbpath ./data/db/27017 --syslog --port 27017
script:
  - npm test
  - npm run lint
  - npm run nsp
notifications:
  email: false
