doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Mongoose ODM v#{package.version}
    link(href="//fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Droid+Sans+Mono|Open+Sans:400,700|Linden+Hill|Quattrocento:400,700|News+Cycle:400,700|Antic+Slab|Cabin+Condensed:400,700", rel="stylesheet", type="text/css")
    link(href="docs/css/default.css", rel="stylesheet")
    link(href="docs/css/style.css", rel="stylesheet")
    link(href="/docs/css/github.css", rel="stylesheet")

    style.
      code {
        font-size: 1em;
      }

      .sponsor {
        margin-bottom: 40px;
        font-size: 0.66em;
        color: #666;
        text-decoration: none;
      }

      .sponsors {
        margin-bottom: 40px;
      }

      .sponsors a {
        text-decoration: none;
      }

      .carbonad{
        margin-top:0!important;
        margin-bottom:-3rem!important
      }

      #carbonads {
        position:fixed;
        right: 0px;
        bottom: 0px;
        display:block;
        width:200px;
        padding:15px 15px 15px 160px;
        overflow:hidden;
        font-size:13px;
        line-height:1.4;
        text-align:left;
        background-color: #fafafa;
      }

      @media (max-width: 1160px) {
        #carbonads {
          display: none !important;
        }
      }

      #carbonads a{color:#333;text-decoration:none}

      .carbon-img{float:left;margin-left:-145px}

      .carbon-poweredby{display:block;color:#777!important}

      img.sponsor {
        margin-right: 10px;
        border: 1px dotted #dfdfdf;
        height: 100px;
      }

  body
    a#forkbanner(href="http://github.com/learnboost/mongoose")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
    #wrap.homepage
      #header
        h1
          a(href="https://github.com/Automattic/mongoose", target="blank")
            .mongoose Mongoose
      div.tagline
        :markdown
          Elegant [MongoDB](https://www.mongodb.com/) object modeling for
          [Node.js](https://nodejs.org/en/)
      #links
        ul
          li
            a(href="docs/guide.html") Read the Docs
          li
            a(href="http://plugins.mongoosejs.io") Discover Plugins
      #follow
        ul
          li
            iframe(class="github-btn", src="//ghbtns.com/github-btn.html?user=Automattic&repo=mongoose&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="100px", height="20px")
          li#version
            span
              | Version #{package.version}
          li
            iframe(class="github-btn", src="//ghbtns.com/github-btn.html?user=Automattic&repo=mongoose&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="100px", height="20px")
        
      #inner
        #what
          p.what
            | Let's face it,&nbsp;
            strong writing MongoDB validation, casting and business logic boilerplate is a drag
            | . That's why we wrote Mongoose.
        :markdown
          ```javascript
          const mongoose = require('mongoose');
          mongoose.connect('mongodb://localhost:27017/test', {useNewUrlParser: true});

          const Cat = mongoose.model('Cat', { name: String });

          const kitty = new Cat({ name: 'Zildjian' });
          kitty.save().then(() => console.log('meow'));
          ```

          Mongoose provides a straight-forward, schema-based solution to model
          your application data. It includes built-in type casting, validation,
          query building, business logic hooks and more, out of the box.

        #tidelift.
          <a id="tidelift-button" href="https://tidelift.com/subscription/pkg/npm-mongoose?utm_source=npm-mongoose&utm_medium=website">
            <img src="/docs/images/tidelift.svg" />
            <span>Get Professionally Supported Mongoose</span>
          </a>

        div.carbon-ad
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=mongoosejscom" id="_carbonads_js"></script>

        :markdown
          ## Getting Started

          * [quick start guide](/docs/index.html)

          ## Support

          * [Stack Overflow](http://stackoverflow.com/questions/tagged/mongoose)
          * [GitHub Issues](https://github.com/Automattic/mongoose/issues)
          * [Gitter Chat](https://gitter.im/Automattic/mongoose)
          * [MongoDB Support](http://www.mongodb.org/about/support/)

          ## News

          * [Twitter](https://twitter.com/mongoosejs)

          ## Changelog

          * [Changelog](https://github.com/Automattic/mongoose/blob/master/History.md)

          ## Sponsors

          <div class="sponsors">
            <div>
              <a href="https://mixmax.com">
                <img class="sponsor" src="/docs/images/mixmax.png" alt="MixMax.com">
              </a>
              <a href="https://localizejs.com/">
                <img class="sponsor" src="//ww1.prweb.com/prfiles/2015/10/28/13050459/localize-logo-black.png">
              </a>
              <a href="https://frontendmasters.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F5e18b6b0-83b4-11e8-97c9-03259cc8bf2b.png&height=100" alt="Frontend Masters">
              </a>
              <a href="https://www.codefirst.co.uk/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2Fdde88120-e914-11e8-a662-278259d35390.png&height=100">
              </a>
              <a href="https://www.vpsserver.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Fvpsserver.com&height=100">
              </a>
              <a href="https://icons8.com/">
                <img class="sponsor" src="https://s3.amazonaws.com/codebarbarian-images/Icons8+Logo+500px.png" style="height:100px">
              </a>
              <a href="https://datantify.com/">
                <img class="sponsor" src="https://i.imgur.com/k9sMDz3.png" style="height:100px">
              </a>
              <a href="https://topvet.net/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Ftopvet.net&height=100" style="height:100px">
              </a>
              <a href="https://www.dontpayfull.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F84c4ba80-1955-11e8-8343-278614155b3e.png&height=100" style="height:100px">
              </a>
              <a href="https://marcus-hiles.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fwww.gravatar.com%2Favatar%2F18234f5f0ed822f7b879f50b285c47eb%3Fdefault%3D404&height=100" style="height:100px">
              </a>
              <a href="https://monovm.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2FMonoVM.com&height=100" style="height:100px">
              </a>
              <a href="https://domainwheel.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Fdomainwheel.com&height=100" style="height:100px">
              </a>
              <a href="https://views.guru/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F3f5383a0-2bba-11e9-ab5d-8fd7c8a252c0.jpg&height=100" style="height:100px">
              </a>
              <a href="https://www.gameserverkings.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Fgameserverkings.com&height=100" style="height:100px">
              </a>
            </div>
          </div>

          <div class="sponsor">
            Sponsor [Mongoose on OpenCollective](https://opencollective.com/mongoose) to get your company's logo above!
          </div>

    p#footer Licensed under MIT. Copyright 2011 <a href="http://learnboost.com">LearnBoost</a>.
    script.
      document.body.className = 'load';
    include docs/includes/keen
