doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Mongoose ODM v#{package.version}
    link(href="//fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Droid+Sans+Mono|Open+Sans:400,700|Linden+Hill|Quattrocento:400,700|News+Cycle:400,700|Antic+Slab|Cabin+Condensed:400,700", rel="stylesheet", type="text/css")
    link(href="docs/css/default.css", rel="stylesheet")
    link(href="docs/css/style.css", rel="stylesheet")
    link(href="/docs/css/github.css", rel="stylesheet")

    link(rel='apple-touch-icon', sizes='57x57', href='docs/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='docs/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='docs/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='docs/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='docs/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='docs/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='docs/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='docs/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='docs/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192',  href='docs/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='docs/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='docs/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='docs/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='docs/images/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='docs/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    style.
      code {
        font-size: 1em;
      }

      .sponsor {
        margin-bottom: 40px;
        font-size: 0.66em;
        color: #666;
        text-decoration: none;
      }

      .sponsors {
        margin-bottom: 40px;
      }

      .sponsors a {
        text-decoration: none;
      }

      .carbonad{
        margin-top:0!important;
        margin-bottom:-3rem!important
      }

      #carbonads {
        position:fixed;
        right: 0px;
        bottom: 0px;
        display:block;
        width:200px;
        padding:15px 15px 15px 160px;
        overflow:hidden;
        font-size:13px;
        line-height:1.4;
        text-align:left;
        background-color: #fafafa;
      }

      @media (max-width: 1160px) {
        #carbonads {
          display: none !important;
        }
      }

      #carbonads a{color:#333;text-decoration:none}

      .carbon-img{float:left;margin-left:-145px}

      .carbon-poweredby{display:block;color:#777!important}

      img.sponsor {
        margin-right: 10px;
        border: 1px dotted #dfdfdf;
        height: 100px;
      }

  body
    a#forkbanner(href="http://github.com/learnboost/mongoose")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
    #wrap.homepage
      #header
        h1
          a(href="https://github.com/Automattic/mongoose", target="blank")
            .mongoose Mongoose
      div.tagline
        :markdown
          Elegant [MongoDB](https://www.mongodb.com/) object modeling for
          [Node.js](https://nodejs.org/en/)
      #links
        ul
          li
            a(href="docs/guide.html") Read the Docs
          li
            a(href="https://plugins.mongoosejs.io") Discover Plugins
      #follow
        ul
          li
            iframe(class="github-btn", src="//ghbtns.com/github-btn.html?user=Automattic&repo=mongoose&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="100px", height="20px")
          li#version
            span
              | Version #{package.version}
          li
            iframe(class="github-btn", src="//ghbtns.com/github-btn.html?user=Automattic&repo=mongoose&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="100px", height="20px")
        
      #inner
        #what
          p.what
            | Let's face it,&nbsp;
            strong writing MongoDB validation, casting and business logic boilerplate is a drag
            | . That's why we wrote Mongoose.
        :markdown
          ```javascript
          const mongoose = require('mongoose');
          mongoose.connect('mongodb://localhost:27017/test', {useNewUrlParser: true, useUnifiedTopology: true});

          const Cat = mongoose.model('Cat', { name: String });

          const kitty = new Cat({ name: 'Zildjian' });
          kitty.save().then(() => console.log('meow'));
          ```

          Mongoose provides a straight-forward, schema-based solution to model
          your application data. It includes built-in type casting, validation,
          query building, business logic hooks and more, out of the box.

        #tidelift.
          <a id="tidelift-button" href="https://tidelift.com/subscription/pkg/npm-mongoose?utm_source=npm-mongoose&utm_medium=website">
            <img src="/docs/images/tidelift.svg" />
            <span>Get Professionally Supported Mongoose</span>
          </a>

        div.carbon-ad
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=mongoosejscom" id="_carbonads_js"></script>

        :markdown
          ## Getting Started

          * [quick start guide](/docs/index.html)

          ## Support

          * [Stack Overflow](http://stackoverflow.com/questions/tagged/mongoose)
          * [GitHub Issues](https://github.com/Automattic/mongoose/issues)
          * [Gitter Chat](https://gitter.im/Automattic/mongoose)
          * [MongoDB Support](http://www.mongodb.org/about/support/)

          ## News

          * [Twitter](https://twitter.com/mongoosejs)

          ## Changelog

          * [Changelog](https://github.com/Automattic/mongoose/blob/master/History.md)

          ## Sponsors

          <div class="sponsors">
            <div>
              <a href="https://payment.ninja/partners/mongoose/?ref=5e2c6ea94e9158a6d2cc2af2">
                <img class="sponsor" src="https://codebarbarian-images.s3.amazonaws.com/payment-ninja-mongoose.png" style="height: 100px">
              </a>
              <a href="https://www.codefirst.co.uk/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2Fdde88120-e914-11e8-a662-278259d35390.png&height=100">
              </a>
              <a href="https://www.dontpayfull.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F84c4ba80-1955-11e8-8343-278614155b3e.png&height=100" style="height:100px">
              </a>
              <a href="https://frontendmasters.com/">
                <img class="sponsor" src="https://images.opencollective.com/frontendmasters/0b9cda4/logo/256.png" style="height:100px">
              </a>
              <a href="https://www.vpsserver.com/">
                <img class="sponsor" src="https://pbs.twimg.com/profile_images/750300526538027008/jo7cFmU9_400x400.jpg" style="height: 100px">
              </a>
              <a href="https://icons8.com/">
                <img class="sponsor" src="https://s3.amazonaws.com/codebarbarian-images/Icons8+Logo+500px.png" style="height:100px">
              </a>
              <a href="https://topvet.net/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Ftopvet.net&height=100" style="height:100px">
              </a>
              <a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/">
                <img class="sponsor" title=" Best WordPress Themes " src="https://www.embedgooglemap.net/ultimate-wp-logo.png" style="height:100px">
              </a>
              <a href="https://loanscouter.com/">
                <img class="sponsor" src="https://images.opencollective.com/lead-supply/7400b71/logo.png" style="height: 100px">
              </a>
              <a href="https://fair-laan.se/">
                <img class="sponsor" src="https://images.opencollective.com/fair-laan-se/939304b/logo.png" style="height: 100px">
              </a>
              <a href="https://craftresumes.com/professional-resume-writer/">
                <img class="sponsor" alt="Professional resume writer" src="https://s3.amazonaws.com/codebarbarian-images/craftresumes.png">
              </a>
              <a href="https://uiuxagencies.top/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F62223ab0-f4f7-11e8-919f-53f2ea21a967.png&height=100" style="height:100px">
              </a>
              <a href="https://www.vpnranks.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Fvpnranks.com&height=100" style="height:100px">
              </a>
              <a href="https://www.bestvpn.co/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Fwww.bestvpn.co&height=100" style="height:100px">
              </a>
              <a href="https://blokt.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Flogo.clearbit.com%2Fblokt.com&height=100" style="height:100px">
              </a>
              <a href="http://clay.global/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F09d57c90-637c-11e7-9ed2-bfa12b0351e8.jpg&height=100" style="height: 100px">
              </a>
              <a href="https://tekhattan.com/">
                <img class="sponsor" src="https://images.opencollective.com/proxy/images?src=https%3A%2F%2Fopencollective-production.s3-us-west-1.amazonaws.com%2F31835450-5a98-11e9-adb1-e17fccd4c65e.png&height=80" style="height:80px">
              </a>
              <a href="https://www.rabathelten.dk/">
                <img class="sponsor" src="/docs/images/dk.png" style="height: 100px">
              </a>
              <a href="https://lemonlaw.site/">
                <img class="sponsor" src="https://images.opencollective.com/lemon-law/logo.png" style="height: 100px">
              </a>
              <a href="https://uxplanet.org/top-ui-ux-design-agencies-user-experience-firms-8c54697e290">
                <img class="sponsor" src="https://miro.medium.com/fit/c/160/160/1*A0FnBy5FBoVQC02SZXLXPg.png" style="height: 100px">
              </a>
              <a href="https://proxybaylist.org/">
                <img class="sponsor" src="https://images.opencollective.com/proxy-bay/e176fe4/avatar.png" style="height: 100px">
              </a>
              <a href="https://ghostinspector.com/">
                <img class="sponsor" src="https://images.opencollective.com/ghostinspector/51b7be8/logo.png" style="height: 100px">
              </a>
              <a href="https://wongagames.co.uk/">
                <img class="sponsor" src="https://images.opencollective.com/wongagames/d3eb92f/logo/256.png" style="height: 100px">
              </a>
              <a href="https://medium.com/@niksundin/best-web-design-companies-1872e445775f">
                <img class="sponsor" src="https://images.opencollective.com/top-web-design-agencies/d92d747/logo.png" style="height: 100px">
              </a>
              <a href="https://www.casinotop.com">
                <img class="sponsor" src="https://images.opencollective.com/casinotop-com/10fd95b/logo.png" style="height: 100px">
              </a>
              <a href="https://www.casinotopp.net">
                <img class="sponsor" src="https://images.opencollective.com/casino-topp/1dd399a/logo.png" style="height: 100px">
              </a>
              <a href="https://www.bonus.ca/">
                <img class="sponsor" src="https://images.opencollective.com/bonus-finder/4b3394e/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.bonus.net.nz/free-spins">
                <img class="sponsor" src="https://images.opencollective.com/bonusfinder-new-zealand/a5becb5/logo.png" style="height: 100px">
              </a>
              <a href="https://www.bonusfinder.com/casino">
                <img class="sponsor" src="https://images.opencollective.com/bonusfinder-com-us/8a47a19/logo.png" style="height: 100px">
              </a>
              <a href="https://www.bonus.com.de/freispiele">
                <img class="sponsor" src="https://images.opencollective.com/bonusfinder-deutschland/646169e/logo.png" style="height: 100px">
              </a>
              <a href="https://www.minitool.com/">
                <img class="sponsor" src="https://images.opencollective.com/minitool-solution-ltd/1519aa6/logo.png" style="height: 100px">
              </a>
              <a href="https://maaltidskasser.net/">
                <img class="sponsor" src="https://codebarbarian-images.s3.amazonaws.com/maaltidskasser-logo.png" style="height: 100px" alt="Måltidskasser">
              </a>
              <a href="https://taxfreesnus.com/">
                <img class="sponsor" src="https://images.opencollective.com/taxfreesnus-com/ebf869a/logo.png" style="height: 100px">
              </a>
              <a href="https://www.nettikasinot.org/">
                <img class="sponsor" src="https://images.opencollective.com/nettikasinot-org/bbd887f/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.pelisivut.com/">
                <img class="sponsor" src="https://images.opencollective.com/pelisivut/04f08f2/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.kasinot.fi/">
                <img class="sponsor" src="https://images.opencollective.com/kasinot-fi/e09aa2e/logo/256.png" style="height: 100px">
              </a>
              <a href="https://mobilunity.com/">
                <img class="sponsor" src="https://images.opencollective.com/mobilunity/e4ca372/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.paraskasino.fi/">
                <img class="sponsor" src="https://images.opencollective.com/paraskasino/a39c3d6/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinoonline.casino/">
                <img class="sponsor" src="https://images.opencollective.com/casino-online/4c8371c/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.casinot.net/">
                <img class="sponsor" src="https://images.opencollective.com/casinot-net/242597a/logo/256.png" style="height: 100px">
              </a>
              <a href="https://420couponcodes.com/">
                <img class="sponsor" src="https://images.opencollective.com/420couponcodes/8965926/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.kasinohai.com/nettikasinot">
                <img class="sponsor" src="https://images.opencollective.com/kasinohai-com/41d4f51/logo/256.png" style="height: 100px">
              </a>
              <a href="https://onlinecasinoinformatie.com/">
                <img class="sponsor" src="https://images.opencollective.com/ricardo-goncalves/3275f75/avatar/256.png" style="height: 100px">
              </a>
              <a href="https://onlinecasinoplatz.com/">
                <img class="sponsor" src="https://images.opencollective.com/onlinecasinoplatz-com/8f8b647/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.turtlebet.com/fi/kaikki-nettikasinot.html">
                <img class="sponsor" src="https://images.opencollective.com/turtlebet-nettikasinot/4799a27/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinomatcher.com/ca/">
                <img class="sponsor" src="https://images.opencollective.com/casinomatcher-com/31fbd0d/logo/256.png" style="height: 100px">
              </a>
              <a href="https://netticasinohex.com/kasinot/">
                <img class="sponsor" src="https://images.opencollective.com/netticasinohex-com/71d7417/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinohex.at/online-casinos/">
                <img class="sponsor" src="https://images.opencollective.com/casinohex-at/8e06f0e/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinohex.se/online-casinon/">
                <img class="sponsor" src="https://images.opencollective.com/casinohex-se/795919b/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinohex.co.za/online-casinos/">
                <img class="sponsor" src="https://images.opencollective.com/casinohex-co-za/470843d/logo/256.png" style="height: 100px">
              </a>
              <a href="https://uk.edubirdie.com/">
                <img class="sponsor" src="https://images.opencollective.com/uk-edubirdie-com/b1d51ab/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.casinofever.ca/">
                <img class="sponsor" src="https://images.opencollective.com/casinofever-ca1/4ad150e/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.parhaatnettikasinot.com/">
                <img class="sponsor" src="https://images.opencollective.com/parhaatnettikasinot-com/fc53017/logo/256.png" style="height: 100px">
              </a>
              <a href="https://swisscasinohex.com/online-casinos/">
                <img class="sponsor" src="https://images.opencollective.com/swisscasinohex-com/107940c/logo/256.png" style="height: 100px">
              </a>
              <a href="https://onlinecasinohex.nl/online-casinos/nederland/">
                <img class="sponsor" src="https://images.opencollective.com/onlinecasinohex-nl/ed24082/logo/256.png" style="height: 100px">
              </a>
              <a href="https://kasynohex.com/kasyna-online/">
                <img class="sponsor" src="https://images.opencollective.com/kasynohex-com/b25daf6/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinohex.ro/online-cazino/">
                <img class="sponsor" src="https://images.opencollective.com/casinohex-ro/493996e/logo/256.png" style="height: 100px">
              </a>
              <a href="https://norskcasinohex.com/casino-pa-nett/">
                <img class="sponsor" src="https://images.opencollective.com/norskcasinohex-com/f0d4c76/logo/256.png" style="height: 100px">
              </a>
              <a href="https://aussiecasinohex.com/online-casinos/">
                <img class="sponsor" src="https://images.opencollective.com/aussiecasinohex/923df37/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.japanesecasino.com/">
                <img class="sponsor" src="https://images.opencollective.com/japanesecasino/b0ffe3c/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.parhaatkasinot.com/">
                <img class="sponsor" src="https://images.opencollective.com/parhaatkasinot/e7fda21/logo/256.png" style="height: 100px">
              </a>
              <a href="https://www.polskiekasyno.com/">
                <img class="sponsor" src="https://images.opencollective.com/polskiekasyno-com/a8975c6/logo/256.png" style="height: 100px">
              </a>
              <a href="https://casinohex.in/online-casinos/">
                <img class="sponsor" src="https://images.opencollective.com/casinohex-in/0d7625b/logo/256.png" style="height: 100px">
              </a>
            </div>
          </div>

          <div class="sponsor">
            Sponsor <a href="https://opencollective.com/mongoose">Mongoose on OpenCollective</a>
            to get your company's logo above!
          </div>

    p#footer Licensed under MIT. Copyright 2011 <a href="http://learnboost.com">LearnBoost</a>.
    script.
      document.body.className = 'load';
    include docs/includes/track
