doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Mongoose ODM v#{package.version}
    link(href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Droid+Sans+Mono|Open+Sans:400,700|Linden+Hill|Quattrocento:400,700|News+Cycle:400,700|Antic+Slab|Cabin+Condensed:400,700', rel='stylesheet', type='text/css')
    link(href='docs/css/default.css', rel='stylesheet')
    link(href='docs/css/style.css', rel='stylesheet')
  body
    a#forkbanner(href="http://github.com/learnboost/mongoose")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
    #wrap
      #header
        h1
          a(href="https://github.com/learnboost/mongoose", target="blank")
            .mongoose Mongoose
      p.tagline
       | Elegant 
       a(href="http://www.mongodb.org/", target="blank") MongoDB
       |  object modeling for 
       a(href="http://nodejs.org/", target="blank") Node.js
      #links
        ul
          li
            a(href="docs/guide.html") Docs
          li
            a(href="http://plugins.mongoosejs.com") Plugins
      p.blurb.
        <a href="docs/middleware.html">Flexible</a>, <a href="docs/guide.html">schema based</a> and <a href="docs/queries.html">feature-rich</a>, mongoose solves common problems for <a href="#production">real-world</a> applications.
      #example
        :js
          var mongoose = require('mongoose');
          var db = mongoose.createConnection('localhost', 'test');

          var schema = mongoose.Schema({ name: 'string' });
          var Cat = db.model('Cat', schema);

          var kitty = new Cat({ name: 'Zildjian' });
          kitty.save(function (err) {
            if (err) // ...
            console.log('meow');
          });
      #install
        h2 Installation
        :bash
          $ npm install mongoose
      #getstarted
        h2 Getting Started
        ul
          li
            a(href="docs/index.html") quick start guide
      #support
        h2 Support
        ul
          li irc: #mongoosejs on freenode
          li
            a(href="http://groups.google.com/group/mongoose-orm") google group
          li
            a(href="https://github.com/learnboost/mongoose/issues/") bug reports
          li
            a(href="http://www.mongodb.org/display/DOCS/Technical+Support") 10gen
      #production
        h2
          | Production
          | 
          a(href='docs/production.html', title='More production examples') View More
        ul
          li
            a(href="http://storify.com/", alt="Storify")
              img(src="docs/images/apps/h_storify.jpg", alt="Storify")
          li
            a(href="https://learnboost.com/", alt="LearnBoost")
              img(src="docs/images/apps/h_learnboost.png", alt="LearnBoost")
          li
            a(href="http://geekli.st", alt="GeekList")
              img(src="docs/images/apps/h_geeklist.png", alt="GeekList")
          li
            a(href="http://yourquestions.mcdonalds.ca/", alt="McDonalds")
              img#mcds(src="docs/images/apps/h_mcds.png", alt="McDonalds")
          li
            a(href="http://www.shoejitsu.com/", alt="ShoeJitsu")
              img(src="docs/images/apps/h_shoejitsu.png", alt="ShoeJitsu")
          li
            a(href="https://bozuko.com/", alt="Bozuko")
              img(src="docs/images/apps/h_bozuko.jpg", alt="Bozuko")
    p#footer Licensed under MIT. Copyright 2011-1012 <a href="http://learnboost.com">LearnBoost</a>.
    script.
      document.body.className = 'load';
    include docs/includes/googleanalytics
