body {
  font-family: 'Open Sans', Helvetica, Arial, FreeSans;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

/* location.hash */
:target::before {
  content: ">>> ";
  color: #1371C9;
  font-weight: bold;
  font-size: 20px;
}
/* ignore home page hash */
#production:target::before {
  content: "";
  font-size: inherit;
}

a {
  color: #800;
  -webkit-transition-property: opacity, -webkit-transform, color, background-color, padding, -webkit-box-shadow;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
}
a:hover {
  opacity: 0.8;
}
#wrap {
  width: 600px;
  margin: 0 auto;
  position:relative;
}
li {
  list-style: square;
}
h1 {
  font-family: 'Helvetica Nueue', Helvetica, Arial, FreeSans, sans-serif;
  text-rendering: geometricPrecision;
}
pre {
  background: #eee;
  padding: 5px;
  border-radius: 3px;
}
code {
  color: #333;
  font-size: 11px;
  font-family: Monaco;
}
pre code {
  border: 0 none;
  padding: 1.2em;
  overflow-x: auto;
}
#header {
  text-align: center;
  padding-top: 40px;
}
#header, h2, h3, .tagline, .blurb {
  text-transform: lowercase;
}
#header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
#header h1 a {
  text-decoration: none;
}
h2 {
  margin: 30px 0;
}
h2 a {
  font-size: 11px;
  position: relative;
  bottom: 4px;
}
#header .mongoose {
  font-size: 146px;
  font-weight: 100;
  text-indent: -23px;
}
.load #header .mongoose {
  letter-spacing: -14px;
}
.tagline {
  color: #333;
  font-size: 25px;
  text-shadow: 1px 1px #f8f8f8;
  text-align: center;
}
.blurb {
  text-align: center;
  font-style: oblique;
  font-size: 12px;
  margin-bottom: 20px;
}
.tagline a, .blurb a {
  text-decoration: none;
  color: #800;
}
#links {
  margin: 30px 10px 46px;
  text-align: center;
  position: relative;
}
#links ul {
  margin: 0;
  padding: 0;
}
#links li {
  display: inline-block;
  margin: 0 15px;
  background-color: #FEFEFE;
}
#links a {
  background: #444;
  padding: 9px 0px;
  border-radius: 3px;
  color: white;
  width: 180px;
  display: inline-block;
  text-decoration: none;
  text-transform: lowercase;
  text-shadow: 1px 1px 7px #222;
}
#production ul {
  padding: 0;
}
#production li {
  list-style: none;
  overflow: hidden;
  display: inline-block;
  height: 114px;
}
#production img {
  width: 180px;
  margin: 10px;
}
#production img#mcds {
  width: 134px;
  margin: 10px 25px;
}
#production a {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  opacity: 0.7;
}
#production a:hover {
  opacity: 1.0;
}
#footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  #forkbanner { display: none }
  #header {
    padding-top: 12px;
  }
  #header .mongoose {
    text-align: center;
    font-size: 65px;
    font-weight: 100;
    letter-spacing: -7px;
  }
  .load #header .mongoose {
    letter-spacing: -7px;
  }
  .tagline {
    text-align: center;
    font-size: 14px;
  }
  .tagline a {
    text-decoration: none;
  }
  .blurb {
    font-size: 16px;
    text-align: justify;
    margin-top: 25px;
  }
  #links {
    margin-bottom: 40px;
  }
  #links li {
    padding: 8px 2px;
    margin: 0 12px;
  }
  #links a {
    background: #444;
    padding: 7px 34px;
    font-size: 15px;
  }
  #docs { margin-left: 0; }
  .module {
    padding-left: 5px;
    border-width: 3px;
  }
  #wrap {
    width: auto;
    padding: 0 5px;
  }
  #production li {
    margin-bottom: 8px;
  }
  #production a {
    opacity: 1;
  }
  #production img {
    width: 175px;
  }
  .addyourown, .addyourown a {
    width: 100%;
  }
}
