html {
  font-family: 'Open Sans';
}

body {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #0971B2;
}

h2 a {
  color: #000;
}

h2:hover::before {
  position: absolute;
  left: 22px;
  margin-top: 4px;
  background-image: url('/docs/images/link_64x64.png');
  background-size: contain;
  height: 1em;
  width: 1em;
  content: ' ';
}

h3 a {
  color: #000;
}

h3:hover::before {
  position: absolute;
  left: 22px;
  margin-top: 4px;
  background-image: url('/docs/images/link_64x64.png');
  background-size: contain;
  height: 1em;
  width: 1em;
  content: ' ';
}

code {
  background-color: #eee;
  padding: 2px 4px;
  font-size: 0.9em;
  color: #800;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  padding: 0;
  font-size: 1em;
  color: #222;
}

#logo {
  width: 62px;
  height: 30px;
  position: relative;
  top: 5px;
}

.logo-text {
  color: #800;
  font-size: 20pt;
  position: relative;
  top: 0px;
  left: 10px;
  text-transform: none;
}

.pure-menu-item {
  height: 28px;
  font-size: 12pt;
  padding-top: 0px;
}

.pure-menu-link {
  padding-top: 2px;
}

li.sub-item {
  height: 23px;
  font-size: 11pt;
  margin-left: 20px;
}

li.version {
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

li.version ul.pure-menu-children {
  border: 1px solid #ddd;
}

#logo-container {
  position: relative;
  top: -4px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

#menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #eee;
  width: 250px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.container {
  position: relative;
  left: 250px;
  padding-left: 50px;
  width: 850px;
  margin-bottom: 250px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Search */

.search input {
  border: 1px solid #ddd;
  margin-left: 1em;
  padding: 0.25em;
  width: 170px;
  border-radius: 3px;
}

.search button {
  background-color: #777;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: relative;
  top: 5px;
  left: 1px;
}

.search button img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

/* Mobile */

#mobile-menu {
  display: none;
}

@media (max-width: 1160px) {
  .container {
    width: 100%;
    padding: 0px;
    left: 0px;
    margin: auto;
  }

  #content {
    margin: 10px;
  }

  #menu {
    display: none;
    position: absolute;
    top: 45px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    left: 0px;
  }

  pre {
    margin: 0px;
    margin-top: 10px;
  }

  #mobile-menu {
    display: block;
    height: 45px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }

  #logo {
    border: 0;
  }

  #mobile-logo-container {
    padding: 0;
    border: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
  }

  #logo-container {
    display: none;
  }

  .menu-link {
    position: absolute;
    display: block;
    top: 0px;
    left: 0;
    background-color: #eee;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: 3px;
    padding: 2.1em 1.6em;
  }

  .menu-link:hover,
  .menu-link:focus {
    background: #ddd;
  }

  .menu-link span {
    position: relative;
    display: block;
  }

  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
    background-color: #333;
    width: 100%;
    height: 0.2em;
  }

  .menu-link span:before,
  .menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
  }

  .menu-link span:after {
    margin-top: 0.6em;
  }

  .active {
    display: block !important;
  }
}

.pure-menu-item:last-of-type {
  padding-bottom: 200px;
}

/* CPM ads */

#carbonads {
  position: fixed;
  bottom: 0;
  display: block;
  overflow: hidden;
  padding: 20px 10px;
  max-width: 230px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) #eeeeee;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 1;
}
