ul
  li.home
    a(href="../index.html") home
  li.plugins plugins
  li.changelog
    a(href="http://github.com/learnboost/mongoose/tree/master/History.md") change log
  li.support
    a(href="../index.html#support") support
  li.fork
    a(href="http://github.com/learnboost/mongoose") fork
  li.guide guide
  li.api
    a(href="./api.html") api docs
  li.quickstart
    a(href="./index.html") quick start
  li.contrib
    a(href="http://github.com/learnboost/mongoose/contributors") contributors
  li.prior
    a(href="./prior.html") prior releases
