extends layout

append style
  link(rel="stylesheet", href="/docs/css/api.css")
  script(src="/docs/js/redirect-old-api.js")

block content
  p Redirecting to proper API page, please wait
  noscript This Page requires JavaScript to Redirect old links properly
