extends layout

block content
  <a class="edit-docs-link" href="#{editLink}" target="_blank">
    <img src="/docs/images/pencil.svg" />
  </a>

  :markdown
    ## Built With Mongoose

    According to [GitHub](https://github.com/Automattic/mongoose), there are
    over 870,000 projects that depend on Mongoose. Here are a few of
    our favorite apps that are built with Mongoose.

    <div style="position: relative">
      <div style="position: absolute; width: 100px; height: 100px">
        <a href="https://sixplus.com">
          <img src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/v1452784634/wipgioqzev0omt4ezsay.jpg">
        </a>
      </div>
      <div style="padding-left: 110px; min-height: 100px;">
        <h4 style="margin-top: 0.2em; margin-bottom: 0.25em;"><a href="https://sixplus.com/">SixPlus</a></h3>
        SixPlus is an online marketplace for corporate event professionals to
        book private dining spaces in restaurants and hotels across the US.
        You can book your next company event at venues like <a href="https://sixplus.com/venue/refinery-rooftop-at-refinery-hotel/">Refinery Rooftop</a> or
        <a href="https://sixplus.com/venue/good-behavior-at-made-hotel/">Good Behavior</a> on SixPlus.
      </div>
    </div>

    <div style="position: relative; margin-top: 1em;">
      <div style="position: absolute; width: 100px; height: 100px">
        <a href="https://payment.ninja/partners/mongoose/?ref=5e2c6ea94e9158a6d2cc2af2">
          <img src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/v1503059272/h8tzm8hqqabjknhj9cts.png">
        </a>
      </div>
      <div style="padding-left: 110px; min-height: 100px">
        <h4 style="margin-top: 0.2em; margin-bottom: 0.25em;"><a href="https://payment.ninja/partners/mongoose/?ref=5e2c6ea94e9158a6d2cc2af2">Payment Ninja</a></h3>
        Payment Ninja is an online payment gateway that lets you save up to
        50% on payment processing over processors like PayPal and Stripe.
      </div>
    </div>

    <div style="position: relative; margin-top: 1em;">
      <div style="position: absolute; width: 100px; height: 100px">
        <a href="https://mixmax.com/?utm_source=invite&utm_medium=link&utm_campaign=saasquatch&rsCode=VALERIKARPOV&rsShareMedium=DIRECT&rsEngagementMedium=EMBED">
          <img src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/v1426108234/rb6qztygayubxme8f4tx.png">
        </a>
      </div>
      <div style="padding-left: 110px; min-height: 100px">
        <h4 style="margin-top: 0.2em; margin-bottom: 0.25em;">
          <a href="https://mixmax.com/?utm_source=invite&utm_medium=link&utm_campaign=saasquatch&rsCode=VALERIKARPOV&rsShareMedium=DIRECT&rsEngagementMedium=EMBED">
            Mixmax
          </a>
        </h4>
        Mixmax is a app that sends engaging emails with instant scheduling, free unlimited email tracking, polls, and surveys right in Gmail.
      </div>
    </div>

    <div style="position: relative; margin-top: 1em;">
      <div style="position: absolute; width: 100px; height: 100px">
        <a href="http://builderbook.org/">
          <img src="https://storage.googleapis.com/builderbook/logo.svg">
        </a>
      </div>
      <div style="padding-left: 110px; min-height: 100px">
        <h4 style="margin-top: 0.2em; margin-bottom: 0.25em;">
          <a href="http://builderbook.org/">
            Builder Book
          </a>
        </h4>
        Learn how to build a full-stack, production-ready JavaScript web application from scratch. You'll go from 0 lines of code in Chapter 1 to over 10,000 lines of code by Chapter 8.
      </div>
    </div>

    ## Add Your Own

    Have an app that you built with Mongoose that you want to feature here?
    Let's talk! [DM Mongoose on Twitter](https://twitter.com/mongoosejs).
