extends layout

append style
  link(rel="stylesheet", href="/docs/css/inlinecpc.css")
  script(type="text/javascript" src="/docs/js/native.js")

  style.
    img { width: auto; }

    .pluralsight-link {
      float: left;
      margin-right: 0.5em;
    }

    .pluralsight-title {
      font-size: 1.5em;
    }

    p {
      line-height: 1.5em;
    }

block content
  :markdown
    ## Further Reading

    <script>
      _native.init("CK7DT53U",{
        targetClass: 'native-inline'
      });
    </script>

    <div class="native-inline">
      <a href="#native_link#"><span class="sponsor">Sponsor</span> #native_company# — #native_desc#</a>
    </div>

    There's a lot of great content out there to learn more about Mongoose.

    * [Video Courses](#video-courses)
    * [Books](#books)

    ## Video Courses

    <a href="//pluralsight.pxf.io/c/1321469/432943/7490" class="pluralsight-link">
      <img src="//a.impactradius-go.com/display-ad/7490-432943" border="0" alt="" width="180" height="95"/>
    </a>
    <img height="0" width="0" src="//pluralsight.pxf.io/i/1321469/432943/7490" style="position:absolute;visibility:hidden;" border="0" />
    
    <a class="pluralsight-title" href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fapi-design-nodejs-express-mongo%2Ftable-of-contents">
      API Design in Node.js Featuring Express & Mongo
    </a>

    This course is a great introduction to building a RESTful API with [Express](http://expressjs.com/)
    and Mongoose. The instructor is [Scott Moss](https://frontendmasters.com/teachers/scott-moss/),
    a serial entrepreneur and former intructor at [Hack Reactor](https://www.hackreactor.com/), San Francisco's number one coding bootcamp.

    <div style="clear: both"></div>
    <br><br>

    <a href="//pluralsight.pxf.io/c/1321469/432943/7490" class="pluralsight-link">
      <img src="//a.impactradius-go.com/display-ad/7490-432943" border="0" alt="" width="180" height="95"/>
    </a>
    <img height="0" width="0" src="//pluralsight.pxf.io/i/1321469/432943/7490" style="position:absolute;visibility:hidden;" border="0" />

    <a class="pluralsight-title" href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fmongoose-for-nodejs-mongodb%2Ftable-of-contents">
      Introduction to Mongoose for Node.js and MongoDB
    </a>

    <br>

    Know someone who wants to get started building Node.js apps but doesn't have
    a lot of software development experience?
    This course is more beginner-friendly than _API Design_ and is a great
    resource for beginners looking to get started.

    <div style="clear: both"></div>
    <br><br>

    <a href="//pluralsight.pxf.io/c/1321469/432943/7490" class="pluralsight-link">
      <img src="//a.impactradius-go.com/display-ad/7490-432943" border="0" alt="" width="180" height="95"/>
    </a>
    <img height="0" width="0" src="//pluralsight.pxf.io/i/1321469/432943/7490" style="position:absolute;visibility:hidden;" border="0" />

    <a class="pluralsight-title" href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fnode-js-express-rest-web-services%2Ftable-of-contents">
      RESTful Web Services with Node.js and Express
    </a>

    <br>

    Looking for a course to take you from zero to Express + Mongoose
    REST API fast? This is the one. This course is halfway
    between _API Design_ and _Introduction to Mongoose_. It focuses more on
    [Express](http://expressjs.com/), but also doesn't go into as much detail as _API Design_. 

    <div style="clear: both"></div>
    <br><br>

    <a href="//pluralsight.pxf.io/c/1321469/432943/7490" class="pluralsight-link">
      <img src="//a.impactradius-go.com/display-ad/7490-432943" border="0" alt="" width="180" height="95"/>
    </a>
    <img height="0" width="0" src="//pluralsight.pxf.io/i/1321469/432943/7490" style="position:absolute;visibility:hidden;" border="0" />

    <a class="pluralsight-title" href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fbuilding-business-applications-vuejs%2Ftable-of-contents">
      Building Business Applications with Vue.js and MongoDB
    </a>

    <br>

    This course walks you through building a full-stack web application using
    the [VENoM Stack](https://medium.com/@audretschjames/venom-stack-docker-setup-for-local-development-457093761ad1).
    Try this course if you're a [Vue.js](https://vuejs.org/) expert looking to
    expand into backend engineering or an experienced MongoDB dev looking to
    learn about frontend dev.

    <div style="clear: both"></div>
    <br><br>

    <a href="//pluralsight.pxf.io/c/1321469/432943/7490" class="pluralsight-link">
      <img src="//a.impactradius-go.com/display-ad/7490-432943" border="0" alt="" width="180" height="95"/>
    </a>
    <img height="0" width="0" src="//pluralsight.pxf.io/i/1321469/432943/7490" style="position:absolute;visibility:hidden;" border="0" />

    <a class="pluralsight-title" href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fmongoosejs-moving-forward%2Ftable-of-contents">
      Moving Forward with Mongoose.js
    </a>

    <br>

    Stuck maintaining a legacy codebase on Mongoose 3.x? This course will
    give you a detailed overview of the [breaking changes and new features in Mongoose 4.x](https://github.com/Automattic/mongoose/wiki/4.0-Release-Notes),
    so you can upgrade with confidence.

    <div style="clear: both"></div>

    ## Books

    ### [_Mongoose for Application Development_ by Simon Holmes](https://www.amazon.com/gp/product/1782168192/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1782168192&linkCode=as2&tag=codebarbarian-20&linkId=c001bbe52f46aa47d2a79d318ed79b93)

    This is the book on Mongoose. Even though it is from 2013,
    _Mongoose for Application Development_ has stood the test of time. This
    book does an excellent job summarizing the core ideas that make Mongoose so
    powerful. Just sub out callbacks for promises.

    ### [_The Little MongoDB Schema Design Book_ by Christian Kvalheim](https://www.amazon.com/gp/product/1517394023/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1517394023&linkCode=as2&tag=codebarbarian-20&linkId=c019ac677e17150c6825404726780e1a)

    Christian Kvalheim originally wrote the MongoDB Node.js driver in early 2010,
    and maintained the driver almost singlehandedly until 2017. As maintainer
    of the Node.js driver, Christian saw more Node.js on MongoDB codebases than
    anyone, and his experience with what works and what doesn't is unmatched.
    This book distills 6 years of hard-learned lessons into concrete examples
    of how to design MongoDB schemas for massive scale. If you want to learn
    how to structure MongoDB schemas for an ecommerce store, a category tree, or a
    blog that can support hundreds of millions of requests per day, this is
    the book for you.