extends layout

append style
  link(rel="stylesheet", href="/docs/css/inlinecpc.css")
  script(type="text/javascript" src="/docs/js/native.js")

  style.

block content
  :markdown
    ## Further Reading

    <script>
      _native.init("CK7DT53U",{
        targetClass: 'native-inline'
      });
    </script>

    <div class="native-inline">
      <a href="#native_link#"><span class="sponsor">Sponsor</span> #native_company# — #native_desc#</a>
    </div>

    There's a lot of great content out there to learn more about Mongoose.

    ## Video Courses

    <a href="//pluralsight.pxf.io/c/1321469/432943/7490">
      <img src="//a.impactradius-go.com/display-ad/7490-432943" border="0" alt="" width="180" height="95"/>
    </a>
    <img height="0" width="0" src="//pluralsight.pxf.io/i/1321469/432943/7490" style="position:absolute;visibility:hidden;" border="0" />
    
    <a href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fapi-design-nodejs-express-mongo%2Ftable-of-contents">
      API Design in Node.js Featuring Express & Mongo
    </a>

    <a href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fmongoose-for-nodejs-mongodb%2Ftable-of-contents">
      Introduction to Mongoose for Node.js and MongoDB
    </a>

    <a href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fbuilding-business-applications-vuejs%2Ftable-of-contents">
      Building Business Applications with Vue.js and MongoDB
    </a>

    <a href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fmongoosejs-moving-forward%2Ftable-of-contents">
      Moving Forward with Mongoose.js
    </a>

    <a href="https://pluralsight.pxf.io/c/1321469/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Flibrary%2Fcourses%2Fnode-js-express-rest-web-services%2Ftable-of-contents">
      RESTful Web Services with Node.js and Express
    </a>

    ## Books

    ### [_Mongoose for Application Development_ by Simon Holmes](https://www.amazon.com/gp/product/1782168192/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1782168192&linkCode=as2&tag=codebarbarian-20&linkId=c001bbe52f46aa47d2a79d318ed79b93)

    This is the book on Mongoose. Even though it is from 2013,
    _Mongoose for Application Development_ has stood the test of time. This
    book does an excellent job summarizing the core ideas that make Mongoose so
    powerful. Just sub out callbacks for promises.

    ### [_The Little MongoDB Schema Design Book_ by Christian Kvalheim](https://www.amazon.com/gp/product/1517394023/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1517394023&linkCode=as2&tag=codebarbarian-20&linkId=c019ac677e17150c6825404726780e1a)

    Christian Kvalheim originally wrote the MongoDB Node.js driver in early 2010,
    and maintained the driver almost singlehandedly until 2017. As maintainer
    of the Node.js driver, Christian saw more Node.js on MongoDB codebases than
    anyone, and his experience with what works and what doesn't is unmatched.
    This book distills 6 years of hard-learned lessons into concrete examples
    of how to design MongoDB schemas for massive scale. If you want to learn
    how to structure MongoDB schemas for an ecommerce store, a category tree, or a
    blog that can support hundreds of millions of requests per day, this is
    the book for you.