extends layout

block content
  :markdown
    ## Guides

    Mongoose guides provide detailed tutorials on Mongoose's core concepts and
    integrating Mongoose with external tools and frameworks.

    ### Mongoose Core Concepts

    * [Schemas](/docs/guide.html)
    * [SchemaTypes](/docs/schematypes.html)
    * [Connections](/docs/connections.html)
    * [Models](/docs/models.html)
    * [Documents](/docs/documents.html)
    * [Subdocuments](/docs/subdocs.html)
    * [Queries](/docs/queries.html)
    * [Validation](/docs/validation.html)
    * [Middleware](/docs/middleware.html)
    * [Populate](/docs/populate.html)
    * [Discriminators](/docs/discriminators.html)
    * [Plugins](/docs/plugins.html)

    ### Integrations

    * [Promises](/docs/promises.html)
    * [AWS Lambda](/docs/lambda.html)
    * [Running Mongoose in the Browser](/docs/browser.html)
