extends redirect

block meta
  meta(http-equiv="refresh", content="5;url=http://mongoosejs.tumblr.com/")

block content
  p
    | You are being redirected to http://mongoosejs.tumblr.com.
    br
    | Please 
    a(href="http://mongoosejs.tumblr.com/") click here
    |  if you are not redirected in 5 seconds.

