name: Benchmark
on:
  pull_request:
    paths:
      - '.github/workflows/benchmark.yml'
      - 'package.json'
      - 'types/**'
      - 'benchmarks/typescript/**'
      - 'benchmarks/typescript.js'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/benchmark.yml'
      - 'package.json'
      - 'types/**'
      - 'benchmarks/typescript/**'
      - 'benchmarks/typescript.js'
permissions:
  contents: read

jobs:
  typescript:
    runs-on: ubuntu-20.04
    name: Benchmark TypeScript Types
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3

      - name: Setup node
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854 # v3.1.0
        with:
          node-version: 16

      - run: npm install

      - run: node ./benchmarks/typescript
        env:
          DB_URL: ${{ secrets.DB_URL }}