name: TypeScript Benchmark
on:
  pull_request:
    paths:
      - ".github/workflows/benchmark.yml"
      - "package.json"
      - "types/**"
      - "benchmarks/typescript/**"
  push:
    branches:
      - master
    paths:
      - ".github/workflows/benchmark.yml"
      - "package.json"
      - "types/**"
      - "benchmarks/typescript/**"
permissions:
  contents: read

jobs:
  typescript:
    runs-on: ubuntu-22.04
    name: Benchmark TypeScript Types
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - run: npm install

      - run: node ./scripts/create-tarball.js

      - run: npm run ts-benchmark
