name: TypeScript Benchmark
on:
  pull_request:
    paths:
      - ".github/workflows/benchmark.yml"
      - "package.json"
      - "types/**"
      - "benchmarks/typescript/**"
  push:
    branches:
      - master
    paths:
      - ".github/workflows/benchmark.yml"
      - "package.json"
      - "types/**"
      - "benchmarks/typescript/**"
permissions:
  contents: read

jobs:
  typescript:
    runs-on: ubuntu-20.04
    name: Benchmark TypeScript Types
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3.5.1
        with:
          node-version: 16

      - run: npm install

      - run: node ./scripts/create-tarball.js

      - run: npm install
        working-directory: benchmarks/typescript/simple

      - run: npx ts-benchmark -p ./ -f 17/100000 18 29 32 -b master -g -t --colors
        working-directory: benchmarks/typescript/simple
        env:
          DB_URL: ${{ secrets.DB_URL }}
