name: Documentation
on:
  pull_request:
    paths:
      - '.github/workflows/documentation.yml'
      - 'package.json'
      - 'docs/**'
      - 'lib'
      - 'test'
      - 'website.js'
      - 'CHANGELOG.md'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/documentation.yml'
      - 'package.json'
      - 'docs/**'
      - 'lib'
      - 'test'
      - 'website.js'
      - 'CHANGELOG.md'
permissions:
  contents: read

jobs:
  lint-documentation:
    runs-on: ubuntu-latest
    name: Lint Markdown files
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - run: npm install

      - name: Lint MD-Files # run markdownlint
        run: npm run lint-md

      # enable when "eslint-markdown" can be used without errors
      # - name: Lint JS-Files # run eslint to lint the code-blocks themself
      #   run: npm run lint-js

  test-documentation:
    runs-on: ubuntu-22.04
    name: Test Generating Docs
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: git fetch --depth=1 --tags # download all tags for documentation

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - run: npm install
      - name: Setup MongoDB
        run: |
          wget -q https://downloads.mongodb.org/linux/mongodb-linux-x86_64-ubuntu2204-6.0.20.tgz
          tar xf mongodb-linux-x86_64-ubuntu2204-6.0.20.tgz
          mkdir -p ./data/db/27017 ./data/db/27000
          printf "\n--timeout 8000" >> ./test/mocha.opts
          ./mongodb-linux-x86_64-ubuntu2204-6.0.20/bin/mongod --setParameter ttlMonitorSleepSecs=1 --fork --dbpath ./data/db/27017 --syslog --port 27017
          sleep 2
          ./mongodb-linux-x86_64-ubuntu2204-6.0.20/bin/mongod --version
          echo `pwd`/mongodb-linux-x86_64-ubuntu2204-6.0.20/bin >> $GITHUB_PATH
      - name: Setup config
        run: |
          echo "module.exports = {uri:'mongodb://127.0.0.1:27017/mongoose_test'};" > ./.config.js
      - run: npm run docs:clean
      - run: npm run docs:generate
