name: Encryption Tests 

on:
  pull_request:
    paths:
      - ".github/workflows/encryption-tests.yml"
      - "package.json"
      - "index.js"
      - "lib/**"
      - "test/encryption/**.js"
      - "scripts/setup-encryption-tests.js"
  push:
    paths:
      - ".github/workflows/encryption-tests.yml"
      - "package.json"
      - "index.js"
      - "lib/**"
      - "test/encryption/**.js"
      - "scripts/setup-encryption-tests.js"
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  run-tests:
    permissions:
      # required for all workflows
      security-events: write
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    name: Encryption tests
    env:
      FORCE_COLOR: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm install
      - name: Install mongodb-client-encryption
        run: npm install mongodb-client-encryption
      - name: Setup Tests
        run: npm run setup-test-encryption
      - name: Run Tests
        run: npm run test-encryption:ci
