name: Test
on:
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'package.json'
      - 'index.js'
      - 'lib/**'
      - 'test/**.js'
  push:
    paths:
      - '.github/workflows/test.yml'
      - 'package.json'
      - 'index.js'
      - 'lib/**'
      - 'test/**.js'
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint JS-Files
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Setup node
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # v3.4.1
        with:
          node-version: 14

      - run: npm install

      - name: Lint JS-Files
        run: npm run lint-js

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [12, 14, 16, 18]
        os: [ubuntu-18.04, ubuntu-20.04]
        mongodb: [4.0.2, 5.0.2, 6.0.0]
        include:
          - os: ubuntu-18.04
            mongodb-os: ubuntu1804
          - os: ubuntu-20.04
            mongodb-os: ubuntu2004
          - os: ubuntu-20.04 # customize on which matrix the coverage will be collected on
            mongodb: 5.0.2
            node: 16
            coverage: true
        exclude:
          - os: ubuntu-18.04 # exclude because nodejs 18 requires higher GLIBC
            node: 18
          - os: ubuntu-18.04 # exclude because there are no builds for this ubuntu-mongodb version combination
            mongodb: 6.0.0
          - os: ubuntu-20.04 # exclude because there are no <4.4 mongodb builds for 2004
            mongodb: 4.0.2
    name: Node ${{ matrix.node }} MongoDB ${{ matrix.mongodb }} OS ${{ matrix.os }}
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Setup node
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # v3.4.1
        with:
          node-version: ${{ matrix.node }}

      - run: npm install

      - name: Setup
        run: |
          wget -q https://downloads.mongodb.org/linux/mongodb-linux-x86_64-${{ matrix.mongodb-os }}-${{ matrix.mongodb }}.tgz
          tar xf mongodb-linux-x86_64-${{ matrix.mongodb-os }}-${{ matrix.mongodb }}.tgz
          mkdir -p ./data/db/27017 ./data/db/27000
          printf "\ntimeout: 8000" >> ./.mocharc.yml
          ./mongodb-linux-x86_64-${{ matrix.mongodb-os }}-${{ matrix.mongodb }}/bin/mongod --setParameter ttlMonitorSleepSecs=1 --fork --dbpath ./data/db/27017 --syslog --port 27017
          sleep 2
          mongod --version
          echo `pwd`/mongodb-linux-x86_64-${{ matrix.mongodb-os }}-${{ matrix.mongodb }}/bin >> $GITHUB_PATH
      - name: NPM Test without Coverage
        run: npm test
        if: matrix.coverage != true
      - name: NPM Test with Coverage
        run: npm run test-coverage
        if: matrix.coverage == true
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        if: matrix.coverage == true
        with:
          name: coverage
          path: coverage

  test-replica-sets:
    needs:
      - test
    runs-on: ubuntu-latest
    name: Replica Set tests
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - name: Setup node
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # v3.4.1
        with:
          node-version: 16
      - run: npm install
      - name: Test
        run: npm run test-rs

  dependency-review:
    name: Dependency Review
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Dependency review
        uses: actions/dependency-review-action@v2
