name: Test
on:
    pull_request:
    push:
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        node: [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Upgrade Node 5 npm
        run: npm install -g npm@3
        if: ${{ matrix.node == 5 }}

      - run: npm install

      - name: Setup
        run: |
          wget -q https://downloads.mongodb.org/linux/mongodb-linux-x86_64-ubuntu2004-4.4.6.tgz
          tar xf mongodb-linux-x86_64-ubuntu2004-4.4.6.tgz
          mkdir -p ./data/db/27017 ./data/db/27000
          printf "\n--timeout 8000" >> ./test/mocha.opts
          ./mongodb-linux-x86_64-ubuntu2004-4.4.6/bin/mongod --fork --dbpath ./data/db/27017 --syslog --port 27017
          sleep 2
          mongod --version
          mkdir ./test/typescript/node_modules
          ln -s `pwd` ./test/typescript/node_modules/mongoose
          echo `pwd`/mongodb-linux-x86_64-ubuntu2004-4.4.6/bin >> $GITHUB_PATH

      - run: npm test

  lint:
    runs-on: ubuntu-latest
    name: Linter
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - run: npm install

      - name: Linter
        run: npm run lint
