name: Typescript Types
on:
  pull_request:
    paths:
      - '.github/workflows/tsd.yml'
      - 'package.json'
      - 'types/**'
      - 'test/types/**'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/tsd.yml'
      - 'package.json'
      - 'types/**'
      - 'test/types/**'
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint TS-Files
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Setup node
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 18

      - run: npm install

      - name: Lint TS-Files
        run: npm run lint-ts

  test-ts-types:
    needs:
      - lint
    runs-on: ubuntu-latest
    name: Test Typescript Types
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Setup node
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 14

      - run: npm install

      - name: Typings
        run: npm run test-tsd
