name: Typescript Types
on:
  pull_request:
    paths:
      - '.github/workflows/tsd.yml'
      - 'package.json'
      - 'types/**'
      - 'test/types/**'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/tsd.yml'
      - 'package.json'
      - 'types/**'
      - 'test/types/**'
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint TS-Files
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3

      - name: Setup node
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854 # v3.1.0
        with:
          node-version: 14

      - run: npm install

      - name: Lint TS-Files
        run: npm run lint-ts

  test-ts-types:
    needs:
      - lint
    runs-on: ubuntu-latest
    name: Test Typescript Types
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3

      - name: Setup node
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854 # v3.1.0
        with:
          node-version: 12

      - run: npm install

      - name: Typings
        run: npm run test-tsd